* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #333;
  color: skyblue;
  padding: 1rem;
  margin: 0 auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 1rem;
  border: 2px solid;
  border-radius: 5px;
}

.header {
  margin: 1rem;
}
